<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOUD CLOTHES</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../public/image/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    
    <!-- HEADER -->
    <header>
        <div>
            <h1>CLOUD</h1>
            <p>Ropa unisex</p>
        </div>
    </header>

<!-- NAVBAR -->
<nav class="navbar">
    <a href="../../index.html">INICIO</a>
    <a href="register.html">REGISTRARSE</a>
</nav>

<!-- PARTE PRINCIPAL -->
<div class="talles">
<p><strong>Podés encontar la Guía de Talles de cada Artículo en las Imágenes de cada producto.</strong> <br>
Las medidas son expresadas en centímetros, tomadas con la prenda en REPOSO, sobre una superficie plana y de MANERA LINEAL, osea, de costura a costura, para que puedas comparar las medidas con alguna otra prenda similar tuya.</p>
<img class="img1" src="../image/talles.png" alt="">
</div>

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="lista">
            <div class="col">
                <h3>CLOUD</h3>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestro servicio</a></li>
                    <li><a href="#">Necesito ayuda</a></li>
                    <li><a href="#">Devoluciones</a></li>
                </ul>
            </div>
            <div class="col">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><a href="#">+54 2604 849198</a></li>
                        <li><a href="#">cloudcloth1@gmail.com</a></li>
                        <li><a href="#">San Rafael - Mendoza</a></li>
                    </ul>
            </div>
            <div class="col">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"> -  CLOUD</i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"> -  CLOUD</i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"> -  CLOUD.CLOTHES</i></a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Medios de Pago</h3>
                <ul>
                    <li><a href="#">Efectivo</a></li> 
                    <li><a href="#">Transferencia</a></li>
                    <li><a href="#">Crédito</a></li>
                    <li><a href="#">Débito</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>